                <form action="/p" method="post" enctype="multipart/form-data">    
                       <div class="juma-quiz" style="visibility: hidden">
                            <ol id="my-quiz">
                                <li data-question="1">
                                <h3>1. Czy korzystanie z komputera sprawia Panu/Pani trudność?</h3>
                                    <ul>
                                    <li data-points="1" class="yes">Tak.</li>
                                    <li data-points="0" class="no">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="2">
                                <h3>2. Czy przeważnie korzysta Pani/Pan z komputera z pomocą innej osoby?</h3>
                                    <ul>
                                    <li data-points="1" class="yes">Tak.</li>
                                    <li data-points="0" class="no">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="3">
                                <h3>3. Czy poza standardowym wyposażeniem komputera (mysz, klawiatura, monitor) używa Pan/Pani dodatkowego narzędzia – czujnika gałek ocznych?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="4">
                                <h3>4. Czy porusza się Pan/Pani z pomocą osób trzecich?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="5">
                                <h3>5. Czy wykazuje Pan/Pani zaburzenie zdolności rozpoznawania barw?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="6">
                                <h3>6. Czy nosi Pan/Pani okulary i przejawia wadę wzroku?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="7">
                                <h3>7. Czy ma Pan/Pani trudność w rozpoznawaniu obiektów, rzeczy - wynikającą z wady wzroku?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="8">
                                <h3>8. Czy cierpi Pan/Pani na dysfunkcje słuchu?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="9">
                                <h3>9. Czy standardowe przeglądanie treści w Internecie zmusza Pana/Panią do wytężonego działania zmysłu wzroku?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                                <li data-question="10">
                                <h3>10. Czy kiedykolwiek musiał Pan/Pani korzystać z pomocy innej osoby przy próbie zalogowania do często korzystanego serwisu www?</h3>
                                    <ul>
                                    <li data-points="1">Tak.</li>
                                    <li data-points="0">Nie. </li>
                                    </ul>
                                </li>
                            </ol>
                            <ul class="juma-score">
                                <li>
                                    <input type="hidden" id="pkt" name="points" value="">
                                </li>
                            </ul>
                        </div>
                    </form> 