{{> nav}}
   <section class="intro-section" style="padding-top:150px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                {{#if notice}}
                    <h1 > {{notice}} </h1>
                {{/if}}
                
                 {{#if result}}

                 <script>
                    function callback(){
                        var audio = new Audio('../pytania/1.m4a');
                        audio.play();    
                    }

                    var audio = new Audio('../pytania/komentarz.m4a');
                    audio.play();

                    setTimeout(function(){
                        $('.juma-quiz').css('visibility', 'visible')
                        callback();
                    },30000)

                                   
                 </script>
                    
                    {{> form}}
                                 
                                    
                    {{else}}
                        
                    <div class="col-md-2"> 
                        </br></br>
                        <a class="btn btn-success btn-lg" style="width: 200px" href="/panel"> Start </a> </br></br>
                        <a class="btn btn-success btn-lg" style="width: 200px"  href="/strona1"> Cyfry </a> </br></br>
                        <a class="btn btn-success btn-lg" style="width: 200px" href="/strona2"> Webusability </a> </br></br>
                        <a class="btn btn-success btn-lg" style="width: 200px" href="/strona3"> Wybitności </a> </br></br>
                    </div>

                    <div class="col-md-10"> 
                        <div class="col-md-1"></div>
                        <div class="col-md-9">

                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(1)" href="#"> <span onclick="resizeText(1)" class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a>
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(-1)" href="#"> <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="contrast()" href="#"> <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> </a>   

                            </br></br>
                            </br></br>
                            <div class="row" id="read">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est animi, sed sequi ut fugit illum recusandae, necessitatibus cumque. Ut cumque harum iure esse id dicta quo iste amet quibusdam fugit.</p>

                            </div>
                        </div>
                        <div class="col-md-2">
                            {{#if bad}}
                             <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="read()" href="#"> <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> </a> 
                            {{/if}}
                        </div>    
                    </div>


                    {{/if}} 
                
                                     
                      

                      
                    <br>
                   
                </div>
            </div>
        </div>
    </section>


{{#if result}}
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
   


<script>



$(document).ready(function(){
    
    //odpowiadanie annyang
    if (annyang) {
    
    annyang.setLanguage('pl');
    //zdefiniowanie komendy
    var commands = {
        '*val': function(val) { 
            var pin = val;
            pin = pin.replace(/\s+/g, '');
            if(pin == "tak"){
                $('.yes').click();
                $('.juma-forward').click();
            }
            if(pin =="nie"){
                $('.no').click();
                $('.juma-forward').click();
            }


        }
    };


    // Dodanie komend do annyang
    annyang.addCommands(commands);

    annyang.debug();
    // start nasłuchwiania
    annyang.start();
    }
    else{
        console.log('annyag nie dziala');
    }
});



</script>

{{/if}} 

<script src="../js/script.js"></script> 