{{> nav}}
   <section class="intro-section" style="padding-top:150px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                {{#if notice}}
                    <h1 > {{notice}} </h1>
                {{/if}}
                
                 {{#if result}}

                 <script>
                    function callback(){
                        var audio = new Audio('../pytania/1.m4a');
                        audio.play();    
                    }

                    var audio = new Audio('../pytania/komentarz.m4a');
                    audio.play();

                    setTimeout(function(){
                        $('.juma-quiz').css('visibility', 'visible')
                        callback();
                    },30000)

                                   
                 </script>
                    
                    {{> form}}
                                 
                                    
                    {{else}}

                    {{#if bad  }}
                        {{> page2}}
                    {{/if}}
                    {{#if middle }}
                        {{> page2}}
                    {{/if}}                   
                    {{#if good}}
                        <div class="col-md-2"> 
                            </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/panel" > Start </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px"  href="/strona1" > Cyfry </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona2" > Webusability </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona3"> Wybitności </a> </br></br>
                        </div>
                    {{/if}}

                    <div class="col-md-10"> 
                        <div class="col-md-1"></div>
                        <div class="col-md-9">

                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(1)" href="#"> <span onclick="resizeText(1)" class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a>
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(-1)" href="#"> <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="contrast()" href="#"> <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> </a>   

                            </br></br>
                            </br></br>
                            <div class="row" id="read">
                                <p>Witaj użytkowniku! Poprawnie zalogowałeś się do serwisu. W zależności od wyników ankiety, którą musiałeś wypełnić, wyświetlana zawartość nieco się od siebie różni. Zastosowany podział przyporządkowuje treść w stosunku do stopnia niepełnosprawności jaką wykazujesz. Aby zobrazować różnice, za przykład niech posłuży ten tekst. Gdy logujesz się jako osoba w pełni sprawna, masz jedynie możliwość powiększania/zmniejszania czcionki i zmiany kontrastu. Gdy natomiast logujesz się jako osoba całkowicie niepełnosprawna oprócz dwóch wspomnianych wyżej funkcjonalności, dodatkowo tekst czytany jest przez lektora. Przyciski nawigacji są interaktywne – lektor czyta, co przedstawiają. W każdej chwili, klikając na głośnik w prawym górnym rogu, tekst podstrony zostanie przeczytany ponownie. Jeżeli nie widzisz głośnika, to znaczy, że jesteś w pełni samodzielny i nie potrzebujesz pomocy. Zajrzyj więc do innych zakładek, aby dowiedzieć się czegoś ciekawego na temat niepełnosprawności, wytycznych użyteczności stron internetowych, czy poczytać o ludziach, którzy wykazywali pewne dysfunkcje, co jednak nie przeszkodziło im osiągnąć sukces! 
                                </p>
                                </br>
                                <small>Pozdrawia Administracja!</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            {{#if bad}}
                             <input type="hidden" value="../pytania/start.m4a" id="from_this" />
                             <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="read()" href="#"> <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> </a> 
                            {{/if}}
                        </div>    
                    </div>


                    {{/if}} 
                
                                     
                      

                      
                    <br>
                   
                </div>
            </div>
        </div>
    </section>


{{#if result}}
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
   


<script>



$(document).ready(function(){
    
    //odpowiadanie annyang
    if (annyang) {
    
    annyang.setLanguage('pl');
    //zdefiniowanie komendy
    var commands = {
        '*val': function(val) { 
            var pin = val;
            pin = pin.replace(/\s+/g, '');
            if(pin == "tak"){
                $('.yes').click();
                $('.juma-forward').click();
            }
            if(pin =="nie"){
                $('.no').click();
                $('.juma-forward').click();
            }


        }
    };


    // Dodanie komend do annyang
    annyang.addCommands(commands);

    annyang.debug();
    // start nasłuchwiania
    annyang.start();
    }
    else{
        console.log('annyag nie dziala');
    }
});



</script>

{{/if}} 

<script src="../js/script.js"></script> 