{{> nav}}
   <section class="intro-section" style="padding-top:150px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                {{#if notice}}
                    <h1 > {{notice}} </h1>
                {{/if}}
                
                 {{#if result}}

                 <script>
                    function callback(){
                        var audio = new Audio('../pytania/1.m4a');
                        audio.play();    
                    }

                    var audio = new Audio('../pytania/komentarz.m4a');
                    audio.play();

                    setTimeout(function(){
                        $('.juma-quiz').css('visibility', 'visible')
                        callback();
                    },30000)

                                   
                 </script>
                    
                    {{> form}}
                                 
                                    
                    {{else}}
                        
                    
                    {{#if bad  }}
                        {{> page2}}
                    {{/if}}
                    {{#if middle }}
                        {{> page2}}
                    {{/if}}                   
                    {{#if good}}
                        <div class="col-md-2"> 
                            </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/panel" > Start </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px"  href="/strona1" > Cyfry </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona2" > Webusability </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona3"> Wybitności </a> </br></br>
                        </div>
                    {{/if}}

                    <div class="col-md-10"> 
                        <div class="col-md-1"></div>
                        <div class="col-md-9">

                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(1)" href="#"> <span onclick="resizeText(1)" class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a>
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(-1)" href="#"> <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="contrast()" href="#"> <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> </a>   

                            </br></br>
                            </br></br>
                            <div class="row" id="read">
                                <p> Użyteczność – (ang. usability, web usability) - nauka zajmująca się ergonomią i funkcjonalnością urządzeń oraz aplikacji. W Polsce pojęcie użyteczności stosowane jest zazwyczaj w odniesieniu do ergonomii serwisów WWW oraz aplikacji użytkowych. Norma ISO 9241 określa użyteczność jako miarę, zgodnie z którą dany produkt może być używany dla osiągnięcia celów użytkowników w sposób wydajny, efektywny i zadowalający. Funkcjonalność zatem jest synonimem słowa użyteczność.</p>
                                </br>
                                <p> Pojęcie użyteczności jest związane z nauką i sztuką projektowania serwisów internetowych, jest to miara wydajności, efektywności i satysfakcji z jaką użytkownicy mogą realizować w serwisie określone cele w określonym kontekście użycia.  </p>
                                </br>
                                <p>Mówiąc inaczej, wraz z rozwojem całej, ogólnoświatowej sieci Web, pojawianiem się coraz to nowych witryn i aplikacji internetowych, konieczne było ukierunkowanie tych produktów, do roli spełniającej określone wymagania, schematy, czy ramy ułatwiając tym samym korzystanie z nich.</p>
                                </br>

                            </div>
                        </div>
                        <div class="col-md-2">
                            {{#if bad}}
                            <input type="hidden" value="../pytania/web_usability.m4a" id="from_this" />
                             <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="read()" href="#"> <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> </a> 
                            {{/if}}
                        </div>    
                    </div>


                    {{/if}} 
                
                                     
                      

                      
                    <br>
                   
                </div>
            </div>
        </div>
    </section>


{{#if result}}
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
   


<script>



$(document).ready(function(){
    
    //odpowiadanie annyang
    if (annyang) {
    
    annyang.setLanguage('pl');
    //zdefiniowanie komendy
    var commands = {
        '*val': function(val) { 
            var pin = val;
            pin = pin.replace(/\s+/g, '');
            if(pin == "tak"){
                $('.yes').click();
                $('.juma-forward').click();
            }
            if(pin =="nie"){
                $('.no').click();
                $('.juma-forward').click();
            }


        }
    };


    // Dodanie komend do annyang
    annyang.addCommands(commands);

    annyang.debug();
    // start nasłuchwiania
    annyang.start();
    }
    else{
        console.log('annyag nie dziala');
    }
});



</script>

{{/if}} 

<script src="../js/script.js"></script> 