{{> nav}}
   <section class="intro-section" style="padding-top:150px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                {{#if notice}}
                    <h1 > {{notice}} </h1>
                {{/if}}
                
                 {{#if result}}

                 <script>
                    function callback(){
                        var audio = new Audio('../pytania/1.m4a');
                        audio.play();    
                    }

                    var audio = new Audio('../pytania/komentarz.m4a');
                    audio.play();

                    setTimeout(function(){
                        $('.juma-quiz').css('visibility', 'visible')
                        callback();
                    },30000)

                                   
                 </script>
                    
                    {{> form}}
                                 
                                    
                    {{else}}
                    
                    {{#if bad  }}
                        {{> page2}}
                    {{/if}}
                    {{#if middle }}
                        {{> page2}}
                    {{/if}}                   
                    {{#if good}}
                        <div class="col-md-2"> 
                            </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/panel" > Start </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px"  href="/strona1" > Cyfry </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona2" > Webusability </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona3"> Wybitności </a> </br></br>
                        </div>
                    {{/if}}

                    <div class="col-md-10"> 
                        <div class="col-md-1"></div>
                        <div class="col-md-9">

                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(1)" href="#"> <span onclick="resizeText(1)" class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a>
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(-1)" href="#"> <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="contrast()" href="#"> <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="lupa()" href="#"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </a>          
                            
                            </br></br>
                            </br></br>
                            <div class="row" id="read">
                                <p> Niepełnosprawność nie zawsze oznacza walkę ze straconej pozycji. Jak uczy historia na świecie ludzie niepełnosprawni potrafili odnosić sukcesy, a tym samym zapisywali się pozytywnie na kartach dziejów. Od starożytności po czasy współczesne. Wspominając władców; cesarza rzymskiego Klaudiusza, cara Rusi Fiodora II Aleksiejewicza Romanowa, czy prezydenta Stanów Zjednoczonych Franklina Delano Roosvelta.</p>
                                </br>
                                <p> Oprócz wielkich przywódców na uwagę zasługują również uzdolnieni niepełnosprawni artyści, którzy swoimi dziełami, oraz całą działalnością są zapamiętani na zawsze. Homer jako twórca starożytny, był ślepcem. Nie przeszkadzało mu to jednak w stworzeniu wybitnych dzieł takich jak Iliada czy Odyseja. Jednym ze znanych artystów niepełnosprawnych był również Ludwig van Beethoven, prekursor romantyzmu w muzyce oraz wielki kompozytor i pianista. Mimo tego, że stracił słuch, ciągle tworzył. Takim przedstawicielem XX i XXI wieku był Ray Charles. Niewidomy muzyk ze Stanów Zjednoczonych, całkowicie stracił wzrok w wieku 6 lat. Był wybitnym artystą, który w życiu odniósł wiele sukcesów.</p>
                                </br>
                                <p> Poza artystami również niepełnosprawni sportowcy napawają optymizmem, udowadniając, że mimo przeszkód można robić coś niezwykłego. Jako przykład niech posłuży Polka, Natalia Partyka. Bez prawej dłoni i przedramienia rywalizuje na światowym poziomie z osobami w pełni sprawnymi. Znany biegacz Oscar Pistorius jest również przykładem, że można wygrywać i ustanawiać niesamowite rekordy mimo braku obu nóg.</p>
                                </br>
                                <p>W dziedzinie nauki jednym z najwybitniejszych umysłów jest profesor Stephen Hawking, cierpiący na paraliż większości ciała. Ponadto doktor Temple Grandin jest doskonałym przykładem, ze mimo autyzmu, świetnie radzi sobie w świecie nauki.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            {{#if bad}}
                            <input type="hidden" value="../pytania/wybitnosci.m4a" id="from_this" />
                             <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="read()" href="#"> <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> </a> 
                            {{/if}}
                        </div>    
                    </div>


                    {{/if}} 
                
                                     
                      

                      
                    <br>
                   
                </div>
            </div>
        </div>
    </section>


{{#if result}}
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
   


<script>



$(document).ready(function(){
    
    //odpowiadanie annyang
    if (annyang) {
    
    annyang.setLanguage('pl');
    //zdefiniowanie komendy
    var commands = {
        '*val': function(val) { 
            var pin = val;
            pin = pin.replace(/\s+/g, '');
            if(pin == "tak"){
                $('.yes').click();
                $('.juma-forward').click();
            }
            if(pin =="nie"){
                $('.no').click();
                $('.juma-forward').click();
            }


        }
    };


    // Dodanie komend do annyang
    annyang.addCommands(commands);

    annyang.debug();
    // start nasłuchwiania
    annyang.start();
    }
    else{
        console.log('annyag nie dziala');
    }
});



</script>

{{/if}} 

<script src="../js/script.js"></script> 