{{> nav}}
   <section class="intro-section" style="padding-top:150px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                {{#if notice}}
                    <h1 > {{notice}} </h1>
                {{/if}}
                
                 {{#if result}}

                 <script>
                    function callback(){
                        var audio = new Audio('../pytania/1.m4a');
                        audio.play();    
                    }

                    var audio = new Audio('../pytania/komentarz.m4a');
                    audio.play();

                    setTimeout(function(){
                        $('.juma-quiz').css('visibility', 'visible')
                        callback();
                    },30000)

                                   
                 </script>
                    
                    {{> form}}
                                 
                                    
                    {{else}}

                    {{#if bad  }}
                        {{> page2}}
                    {{/if}}
                    {{#if middle }}
                        {{> page2}}
                    {{/if}}                   
                    {{#if good}}
                        <div class="col-md-2"> 
                            </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/panel" > Start </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px"  href="/strona1" > Cyfry </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona2" > Webusability </a> </br></br>
                            <a class="btn btn-success btn-lg" style="width: 200px" href="/strona3"> Wybitności </a> </br></br>
                        </div>
                    {{/if}}

                    <div class="col-md-10"> 
                        <div class="col-md-1"></div>
                        <div class="col-md-9">

                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(1)" href="#"> <span onclick="resizeText(1)" class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> </a>
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="resizeText(-1)" href="#"> <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="contrast()" href="#"> <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> </a>   
                            <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="lupa()" href="#"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </a>          

                            </br></br>
                            </br></br>
                            <div class="row" id="read">
                                <p> W Polsce mieszka 38 milionów ludzi.  Jak wynika z powszechnego spisu ludności 16% Polaków to osoby prawnie niepełnosprawne, co daje liczbę 6,2 miliona. Niepełnosprawnych prawnie w wieku 16 lat i więcej jest w Polsce 3,4 miliona. Co ciekawe, w roku 1997 liczba ta wynosiła 4,6 miliona. Najczęstszą przyczyną niepełnosprawności stanowiły uszkodzenia i choroby narządów ruchu – 58,8%. Schorzenia układu krążenia obejmują 49,6%, schorzenia neurologiczne 33%. Uszkodzenia i choroby wzroku obejmują 27,3% niepełnosprawnych. Warto dodać, że udział procentowy osób z uszkodzeniami i chorobami narządu słuchu wynosi 13,7%. Ponadto niepełnosprawni cierpiący na chorobę psychiczną i upośledzenie umysłowe stanowią kolejno 10,1% oraz 4%. </p>
                                <br>
                                <p>Wykształcenie osób niepełnosprawnych prawnie w wieku 16 lat i powyżej przedstawia poniższy diagram:</p>
                                <br>

                                <div id="demo" data-zoomed="../images/wykres2.jpg" >
                                    <img src="../images/wykres.jpg" alt="wykres" > 
                                </div>
                                
                                </br>
                                <small> <i> Źródło: BAEL GUS; Dane w latach 2008-2009  - na podstawie NSP 2002, dane w latach 2010 - 2012 – na podstawie NSP 2011.</i></small>
                                
                                <br><br>
                                <p> Wynika z tego, że w roku 2012 niepełnosprawnych z wykształceniem wyższym było 7,5%. Wykształcenie policealne i średnie zawodowe w tym samym roku miało 20,3% osób. Wysoki wynik procentowy mają niepełnosprawni z wykształceniem gimnazjalnym i poniżej, który wynosił w 2012 roku 32,8% – jedną z przyczyn takie stanu rzeczy może być fakt ich niezdolności do nauki.</p>

                                <p>Jak podaje Światowa Organizacja Zdrowia, na świecie jest niemal miliard ludzi niepełnosprawnych. Stanowi to około 15% całej populacji. Około 200milionów osób jest dotknięte niepełnosprawnością w stopniu ciężkim. Te smutne dane, otwierają pogląd na pewną sprawę, o której często zapominają twórcy serwisów internetowych. Ważnym klientem Internetu jest człowiek niepełnosprawny, w związku z tym należy ułatwić mu dostęp do treści stosując się do zasad Web Usability, o których szerzej w następnej zakładce.</p>

                            </div>
                        </div>
                        <div class="col-md-2">
                            {{#if bad}}
                            <input type="hidden" value="../pytania/cyfry.m4a" id="from_this" />
                             <a class="navbar-brand" style="color: black; font-size: 2em;" onclick="read()" href="#"> <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> </a> 
                            {{/if}}
                        </div>    
                    </div>


                    {{/if}} 
                
                                     
                      

                      
                    <br>
                   
                </div>
            </div>
        </div>
    </section>


{{#if result}}
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.2.1/annyang.min.js"></script>
   


<script>



$(document).ready(function(){
    
    //odpowiadanie annyang
    if (annyang) {
    
    annyang.setLanguage('pl');
    //zdefiniowanie komendy
    var commands = {
        '*val': function(val) { 
            var pin = val;
            pin = pin.replace(/\s+/g, '');
            if(pin == "tak"){
                $('.yes').click();
                $('.juma-forward').click();
            }
            if(pin =="nie"){
                $('.no').click();
                $('.juma-forward').click();
            }


        }
    };


    // Dodanie komend do annyang
    annyang.addCommands(commands);

    annyang.debug();
    // start nasłuchwiania
    annyang.start();
    }
    else{
        console.log('annyag nie dziala');
    }
});



</script>

{{/if}} 

<script src="../js/script.js"></script> 