
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}

.pad-top {
    padding-top:40px;
}

#read p{
    text-indent: 40px;
    text-align: justify;
}
